
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightslategrey;
}


nav {
    padding: 1rem;
    background-color: #222;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav-left {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.left-nav-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2rem; 
    margin: 0;
}

.nav-left p {
    color: white; 
    font-size: 1rem; 
    margin: 0;
}


.hamburger-menu {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s ease; 
}



.ham-bar {
    width: 70%;
    height: 4px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s, background-color .3s ease; /* Added transition for background color */
}

.bar-top {
    top: 25%;
}

.bar-bottom {
    top: 75%;
}

.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
    background-color: #f1f1f1; 
}

.hamburger-menu.active .bar-mid {
    opacity: 0;
}

.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
    background-color: #f1f1f1;
}

.hamburger-menu:hover .ham-bar {
    background-color: rgb(55, 103, 54); 
}



.off-screen-menu {
    background-color: #333;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.off-screen-menu li {
    margin: 20px 0;
}

.off-screen-menu a {
    color: white;
    text-decoration: none;
    font-size: 45px;
    transition: color .3s ease;
}

.off-screen-menu a:hover {
    color: rgb(55, 103, 54);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .off-screen-menu {
        width: 60%;
        right: -60%;
    }

    .hamburger-menu {
        height: 40px;
        width: 40px;
        padding: 0.5rem;
    }
    
    .ham-bar {
        height: 3px;
    }

    .off-screen-menu a {
        font-size: 45px;
    }
}